<% products.forEach( p =>{ %>
 <section id="main">

  <div class="row">
    <div class="mainscreen col-lg-5">
      <div class="card">
        <div class="card-body painting">
        <img class = "image" src="<%-p.imagePath %>" alt="DISPLAY IMAGE HERE">
        </div>
      </div>
    </div>

    <div class="mainscreen col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Description</h3>
        </div>
        <div class="card-body">
          <div class="card-text"><%-p.description %></div>
          <div class="card-text float-right">
             <b>Price</b> Rs.<%-p.price %>
       </div>
          </div>
        <a href="/dashboard/add-to-cart/<%- p._id %>" class= "btn btn-secondary"> <i class="fas fa-shopping-cart"></i>Add to Cart</a>
    </div>
    </div>

    <div class="mainscreen col-lg-3">
      <div class="card">
        <div class="card-header">
          <h3>Artists you might be looking for</h3>
        </div>
        <div class="card-body">
            People here....
        </div>
      </div>
    </div>
  </div>
</section>


<% }) %>

<!-- MAIN SCREEN -->
