<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>

        <!--Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <!-- CSS include -->
        <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
      <%- include('partials/header'); -%>

      <h2 id="aboutus">Welcome to Artistry</h2>
      <br>
      <p><div id="box">
      This online gallery revolutionizes the concept of art, by providing users from all over the world a platform to share their creativity. The website will be a platform for artists to showcase their talents by uploading their art onto it. It will also have a feature where a customer will be able to get in contact with the artist through a messaging option. An advancement in this system would be to allow users to buy and sell paintings/artwork on the platform.
      </p>
      <p>An Art gallery is where art and craft of artists can be displayed for the visitors’ view. People additionally comment on arts that artist’s show so that there will be some scope of improvement of the arts that is displayed. However, these days because of the busy schedule of the people, they don’t have time schedule-wise to visit the art gallery to view the paintings of the famous artist. Yet, imagine a scenario where the artist display is available on the online Indeed, it is conceivable. The online art gallery is the application that enables the clients to transfer their paintings and make it available to the visitors’ view.
      </p>
      <p>Now and then people won’t have sufficient energy to go to the art gallery and view the paintings. Some art gallery may not give a chance to show the understudy’s compositions in that place. So this online art gallery will give a chance to those people whose works of art can be transferred and kept for the guests to see. The artists can have their pencil sketches, glass paintings, oil paintings and many other forms of paintings to be posted in this online art gallery system. Indeed, even the people can comment on the paintings that are posted utilizing this online art gallery system.</p>
    </div>

  </body>
</html>
