<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      DISPLAY HEADER AND SHIT

    You have been verified for Two-Factor Authentiocation.
    Go back to Dashboard.
  </body>
</html>
