<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OTP Confirmed</title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- CSS include -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
        <%- include('partials/header'); -%>

      <div class = "center card-block">
        <p> You have been verified for Two-Factor Authentiocation. An OTP will be sent everytime you try to login </p>
      </div>


  </body>
</html>
