body{
  font-family: 'Montserrat', sans-serif;
  background-color: #e4e3e3;
  color: #393e46;
}


.nav-item a:hover {
  border-bottom: 1px solid black;
}

/* SEARCH BAR */
.search__input{
  border-width: thin;
  border-radius: 5%;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  width: 504px;
  background-color:#e4e3e3;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

.search__container {
   margin-top: 30px;
}

.row{
    margin-top: 50px;
}

.card{
  background-color: #e4e3e3;
}
.card-body,.card-header{
  position: relative;
  display: flex;
  background-attachment: fixed;
}

.painting{
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
  width: 500px;
  height: 600px;
}

.profile-picture{
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);

}


/* Signup Signin boxes */
.form-control{
  background-color: #e4e3e3;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  width: 504px;
}
