body{
  font-family: 'Montserrat', sans-serif;
  background-color: #e4e3e3;
  color: #393e46;
}


.nav-item a:hover {
  border-bottom: 1px solid black;
}

/* SEARCH BAR */
.search__input{
  border-width: thin;
  border-radius: 5%;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  width: 504px;
  background-color:#e4e3e3;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

.search__container {
   margin-top: 30px;
}

.row{
    margin-top: 50px;
}

.card{
  background-color: #e4e3e3;
}
.card-body,.card-header{
  position: relative;
  display: flex;
  white-space: pre-wrap;
  background-attachment: fixed;
}

.image:hover{
color: #ff7a59;
  border: #e6e6e6 solid 3px;
  background:#fff;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  width: 600px;
  height: 650px;

}

.image:active{
  border: solid 5px grey;

}

.painting{
  position: relative;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  overflow: hidden;
  width: 500px;
  height: 600px;
}

.profile-picture{
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);

}


/* Signup Signin boxes */
.form-control{
  background-color: #e4e3e3;
  border-right-style: none;
  border-top-style: none;
  border-left-style: none;
  width: 504px;
}

/* Shopping Cart */
.fa-shopping-cart{
   padding-right: 10px;
}

.list-group-item{
  background: #e4e3e3;
}


/* About Us */
#aboutus{
         text-align: center;
         }
#box{
     width:610px;
     height:610px;
     margin: auto;
    background-color: #d2d6d4;
   padding: 20px;
   border-style: inset;
    border-color: #cdd1cf;
 }
